<div class="container">
  <div *ngIf="showSpinner" class="spinner-container">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <mat-accordion displayMode="flat" class="mat-table">
    <section
      #issueSort
      matSort
      (matSortChange)="sortIssues($event, issues)"
      class="mat-elevation-z2 mat-header-row"
    >
      <mat-checkbox
        #checkbox
        name="checkbox"
        (change)="selectAll($event)"
        value=""
      >
      </mat-checkbox>
      <span class="mat-header-cell id" mat-sort-header="id">ID#</span>
      <span class="mat-header-cell" mat-sort-header="title">Title</span>
      <span class="mat-header-cell" mat-sort-header="reported_at"
        >Reported Date</span
      >

      <span class="mat-header-cell" mat-sort-header="status">Status</span>
      <span class="mat-header-cell" mat-sort-header="criticality"
        >Criticality</span
      >
      <span class="mat-header-cell" mat-sort-header="reporter_id"
        >Reporter</span
      >
    </section>
    <mat-expansion-panel
      *ngFor="let issue of currentItemsToShow; let i = index"
      (afterExpand)="
        selectedTask = issue; getIssueby(issue.id); expanded = true
      "
    >
      <mat-expansion-panel-header class="expansion-container">
        <mat-panel-title class="expansion-child id">
          <mat-checkbox
            id="chkEdit"
            name="chkEdit"
            [(ngModel)]="isAllSelected"
            (change)="selectItem($e)"
            [checked] = "checked"
          ></mat-checkbox>
          {{ issue.id }}
        </mat-panel-title>
        <mat-panel-title class="expansion-child">
          {{ issue.title }}
        </mat-panel-title>
        <mat-panel-title class="expansion-child">
          {{ issue.reported_at }}
        </mat-panel-title>

        <mat-panel-title class="expansion-child">
          {{ issue.status }}
        </mat-panel-title>
        <mat-panel-title class="expansion-child">
          {{ issue.criticality }}
        </mat-panel-title>
        <mat-panel-title class="expansion-child">
          {{ issue.reporter_id }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div col="3" style="border: 1px red solid">
        <strong> Status :</strong> <span>{{ issue.status }}</span>
        <strong> Criticality :</strong>
        <span>{{ issue.criticality }}</span>
        <strong> Pending With : </strong>
        <span>{{ issue.pending_with }}</span>
      </div>

      <br />
      <p class="task-details">
        <strong> Description :</strong> <span>{{ issue.description }}</span>
      </p>

      <strong> Rmarks :</strong>
      <ul name="dsd" *ngIf="expanded && selectedTask">
        <li
          #remarklst
          name="remarklst "
          *ngFor="let r of getIssueRemarks(issue.id)"
        >
          {{ r.remark }}
        </li>
      </ul>

      <!-- <button
          style="margin-left: 25px"
          mat-raised-button
          color="primary"
          (click)="openTasksDialog()"
        >
          View Subtasks
        </button>
        <button
          style="margin-left: 25px"
          mat-raised-button
          color="primary"
          (click)="openDialog()"
        >
          Add a Subtask
        </button> -->
    </mat-expansion-panel>
  </mat-accordion>
  <p
    *ngIf="issues.length === 0"
    style="margin-left: auto; margin-right: auto; width: fit-content"
  >
    No issue have been posted .
  </p>

  <mat-paginator
    #paginator
    (page)="onPageChange($event)"
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="pageSize"
    [pageSizeOptions]="[1, 3, 5]"
  >
  </mat-paginator>
</div>
