<ng-container>
  <div style="height: 100% !important">
    <div *ngIf="showSpinner" class="spinner-container">
      <mat-spinner color="accent"></mat-spinner>
    </div>

    <mat-accordion
      displayMode="flat"
      name="pnlIssues"
      (click)="$event.stopPropagation()"
      (enter)="$event.stopPropagation()"
      style="height: 100% !important"
    >
      <div id="dvFunctions" (click)="$event.stopPropagation()" (click)="save()">
        <button mat-raised-button color="primary">
          <mat-icon svgIcon="save_all"></mat-icon>
          <span>Save</span>
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="$event.stopPropagation(); saveAndClose()"
          cdkFocusInitial
        >
          <mat-icon svgIcon="save_close"></mat-icon>
          <span>Save & Close</span>
        </button>

        <mat-icon
          id="btnclose"
          svgIcon="cancel"
          style="float: right; cursor: pointer"
          color="primary"
          (click)="$event.stopPropagation(); close()"
        ></mat-icon>
        <hr
          style="padding: 0px !important; border: 1px solid black; margin: -1px"
        />
        <div id="divMutilRemark">
          <!-- <form style="margin-left: 0px"> -->
          <div id="divActivateMultiRemark" (click)="$event.stopPropagation()">
            <mat-checkbox
              id="chkActivateMultiRemark"
              #chkActivateMultiRemark
              class="headercheckbox"
              name="chkActivateMultiRemark"
              [checked]="!isSingleRemark"
              (change)="activateMultiRemark($event); "
              ><strong id="MultiRemarkText"
                >Set Remark for All Selected Issues
              </strong>
            </mat-checkbox>
          </div>

          <textarea
            *ngIf="!isSingleRemark"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
            class="mlti remarkArea"
            #txtremark
            name="txtremark"
            [(ngModel)]="multiRemarkText"
            matInput
            placeholder="Type your remark here .."
          ></textarea>
          <!-- </form> -->
        </div>
      </div>
      <section
        style="display: block; height: 100%; width: 100%"
        [style.margin-top]="isSingleRemark ? '48px' : '122px'"
      >
        <section
          #issueSort
          matSort
          (matSortChange)="sortIssues($event, local_data)"
          class="mat-elevation-z2 mat-header-row"
          style="margin-top: 2px !important"
        >
          <span
            class="mat-header-cell"
            mat-sort-header="sr"
            style="
              text-align: start;
              align-items: left;
              max-width: 70px !important; ;
            "
            >SR#</span
          >
          <span
            class="mat-header-cell"
            mat-sort-header="title"
            style="
              text-align: start;
              align-items: left;
              min-width: 200px !important;
            "
          >
            Title</span
          >
          <span
            class="mat-header-cell"
            mat-sort-header="reported_at"
            style="
              text-align: start;
              align-items: left;

              min-width: 120px !important;
            "
            >Reported Date</span
          >

          <span
            class="mat-header-cell"
            mat-sort-header="status"
            style="
              text-align: start;
              align-items: left;
              min-width: 120px !important;
            "
            >Status</span
          >
          <span
            class="mat-header-cell"
            mat-sort-header="criticality"
            style="
              text-align: start;
              align-items: left;
              min-width: 120px !important;
            "
            >Criticality</span
          >
          <span
            class="mat-header-cell"
            mat-sort-header="reported_by"
            style="
              text-align: start;
              align-items: left;
              min-width: 120px !important;
            "
            >Reporter</span
          >
        </section>
        <mat-expansion-panel
          #pnlIssues
          *ngFor="let issue of local_data; let i = index"
          (afterExpand)="afterExpand(issue); selectedIssue = issue"
          (click)="$event.stopPropagation()"
        >
          <mat-expansion-panel-header class="expansion-container">
            <mat-panel-title
              class="expansion-child id"
              style="
                text-align: start;
                align-items: left;
                margin-top: 15px !important;
                max-width: 70px !important;
                vertical-align: top !important;
              "
            >
              <mat-checkbox
                name="chkEdit"
                (click)="$event.stopPropagation()"
                (change)="selectItem($event, i)"
                [checked]="issue.checked"
              ></mat-checkbox>
              {{ issue.sr }}
            </mat-panel-title>
            <mat-panel-title
              class="expansion-child"
              style="
                text-align: start;
                align-items: left;
                margin-top: 15px !important;
                min-width: 200px !important;
                vertical-align: top !important; ;
              "
            >
              {{ issue.title }}
            </mat-panel-title>
            <mat-panel-title
              class="expansion-child"
              style="
                text-align: start;
                align-items: left;
                margin-top: 15px !important;
                min-width: 120px !important;
                vertical-align: top !important; ;
              "
            >
              {{ issue.reported_at }}
            </mat-panel-title>

            <mat-panel-title
              class="expansion-child"
              style="
                text-align: start;
                margin-top: -5px !important;
                align-items: left;
                min-width: 120px !important;
                vertical-align: top !important; ;
              "
            >
              <mat-form-field
                (click)="$event.stopPropagation()"
                style="top: 5px !important"
              >
                <select
                  matNativeControl
                  name="select_status"
                  [(ngModel)]="issue.status"
                >
                  <option *ngFor="let c of status" [value]="c.value">
                    {{ c.title }}
                  </option>
                </select>
              </mat-form-field>
            </mat-panel-title>
            <mat-panel-title
              class="expansion-child"
              style="
                text-align: start;
                align-items: left;
                margin-top: -5px !important;
                min-width: 120px !important;
                vertical-align: top !important;
                top: 0px !important ;
              "
            >
              <mat-form-field
                (click)="$event.stopPropagation()"
                style="top: 5px !important"
              >
                <select
                  matNativeControl
                  name="select_criticality"
                  [(ngModel)]="issue.criticality"
                >
                  <option *ngFor="let c of criticality" [value]="c.value">
                    {{ c.title }}
                  </option>
                </select>
              </mat-form-field>
            </mat-panel-title>
            <mat-panel-title
              class="expansion-child"
              style="
                text-align: left;
                align-items: left;
                margin-top: 15px !important;
                min-width: 120px !important;
                vertical-align: top !important;
                top: 5px !important;
              "
            >
              {{ issue.reported_by }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div id="subdiv">
            <div class="dataRowfirst">
              <div>
                <strong> ID#: </strong>
                <span class="data">{{ issue.id }}</span>
              </div>
              <div>
                <strong> Target Date :</strong>
                <span class="data">{{ issue.target_date }}</span>
              </div>
              <div>
                <strong> Closure date :</strong>
                <span class="data">{{ issue.closure_date }}</span>
              </div>
            </div>
            <div class="dataRow">
              <div>
                <strong> Verified By :</strong>
                <span class="data">{{ issue.verified_by }}</span>
              </div>
              <div>
                <strong> Pending With : </strong>
                <span class="data">{{ issue.pending_with }}</span>
              </div>
            </div>

            <div class="task-details">
              <strong style="margin-right: 5px; vertical-align: top">
                Description :</strong
              >
              <textarea
                readonly="true"
                style="
                  display: inline;
                  clear: left;
                  margin-top: 6px !important ;
                  width: 90% !important;
                "
                cols="100"
                rows="2"
                >{{ issue.description }}</textarea
              >
            </div>

            <div class="remaks" (click)="$event.stopPropagation()">
              <div id="remarkButtons">
                <strong style="vertical-align: bottom; padding-left: 5px"
                  >Rmarks :</strong
                >
                <mat-icon
                  *ngIf="!isNewMode && isSingleRemark"
                  id="btnAddRemark"
                  svgIcon="add"
                  title="add"
                  (click)="$event.stopPropagation()"
                  (click)="showAddRemark(issue)"
                ></mat-icon>

                <mat-icon
                  *ngIf="isNewMode"
                  id="btnCancelRemark"
                  svgIcon="cancel"
                  title="Cancel"
                  (click)="$event.stopPropagation()"
                  (click)="cancelAddRemark(issue.id)"
                ></mat-icon>
                <mat-icon
                  *ngIf="isNewMode"
                  id="btnSaveRemark"
                  svgIcon="save"
                  title="Save"
                  (click)="$event.stopPropagation()"
                  (click)="addRemark(issue, remarkTxt)"
                ></mat-icon>
              </div>
              <ul
                (click)="$event.stopPropagation()"
                *ngIf="issue?.expanded && issue?.remarks?.length > 0"
                name="ulRemarks"
                #ulRemarks
                style="padding: 0px !important ; left: 0px !important"
                ngDefaultControl
              >
                <div
                  (click)="$event.stopPropagation()"
                  style="
                    display: table;
                    padding: 0px !important ;
                    left: 0px !important;
                  "
                  #remarklst
                  name="remarklst"
                  *ngFor="
                    let r of issue.remarks;
                    let i = index;
                    first as isFirst;
                    last as isLast
                  "
                >
                  <li
                    *ngIf="isFirst && issue.expanded && isNewMode"
                    (click)="$event.stopPropagation()"
                  >
                    <form #frmAddRemark id="frmAddRemark" name="frmAddRemark">
                      <div>
                        <img src="/assets/person-circle-outline.svg" [alt]="" />
                        <strong
                          style="
                            font-family: sans-serif;
                            font-weight: bolder;
                            color: chocolate;
                          "
                          >You</strong
                        >

                        <small
                          class="data"
                          style="font-family: sans-serif; font-weight: bolder"
                          >{{ " on " + currentDate }}</small
                        >

                        <textarea
                          (click)="$event.stopPropagation()"
                          class="remarkArea"
                          #txtNewRemark
                          name="txtNewRemark"
                          [(ngModel)]="remarkTxt"
                          matInput
                          placeholder="Type your remark here .."
                        ></textarea>
                      </div>
                    </form>
                  </li>
                  <li>
                    <samp>
                      <span>
                        <img src="/assets/person-circle-outline.svg" [alt]="" />

                        <strong *ngIf="r.user_id">
                          {{ r?.username }}
                        </strong>
                        <small *ngIf="r.created_at"
                          >{{
                            " on " + r.created_at | date: "M/d/yy h:mm a" + " :"
                          }}
                        </small>
                      </span>
                      {{ r.remark }}</samp
                    >
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </mat-expansion-panel>
      </section>
    </mat-accordion>
    <p
      *ngIf="!local_data || local_data.length === 0"
      style="margin-left: auto; margin-right: auto; width: fit-content"
    >
      No issue have been Selected .
    </p>
  </div>
</ng-container>
